.img-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: row;
  margin: 4rem 0;
  position: relative;
}
.img-wrapper:nth-child(2) {
  flex-direction: row-reverse;
}
.img-section {
  padding: 0 5.5rem;
}
.img-wrapper img {
  width: 65%;
  height: fit-content;
}
.grey {
  color: white;
  position: relative;
  z-index: 10;
  height: fit-content;
  bottom: -42vh;
  left: -10vw;
  padding: 3rem;
  max-width: 42%;
  background-image: url(../../images/grey-pattern.png);
}
.left {
  left: 10vw;
}
.g-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1.4rem;
}
.g-text {
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 0.9rem;
}
.g-btn {
  padding: 0.5rem 2rem;
  font-size: 1.125rem;
  line-height: 2;
  border-radius: 0;
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
  text-align: center;
  width: fit-content;
  cursor: pointer;
}
